div{
    height: 500px;
    width: 1250px;
    background-color: red;
    animation-name: color;
    animation-duration: 3s;
}
@keyframes color{
    from{ background-color: red;}
    to{ background-color: yellow;}
}