div{
    height: 200px;
    width: 200px;
    background-color: red;
    animation-name: position;
    animation-duration: 5s;
    animation-delay: 2s;
    position: relative;
    animation-timing-function: ease;
}
@keyframes position{
    0%{left: 0px; top: 0px;}
    25%{left: 200px; top: 0px;}
    50%{left: 200px; top: 200px;}
    75%{left: 0px; top: 200px;}
    100%{left: 0px; top: 0px;}
}