div{
    height: 50px;
    width: 300px;
    background-color: cyan;
    color: black;
    animation-name: example;
    animation-duration: 4s;
    position: relative;
}
    .a{animation-timing-function: linear;}
    .b{animation-timing-function: ease;}
    .c{animation-timing-function: ease-in;}
    .d{animation-timing-function: ease-out;}
    .e{animation-timing-function: ease-in-out;}
@keyframes example{
    from{left: 0px;}
    to{left: 970px;}
}