*{
    box-sizing: border-box;
}
.header{
    background-color: black;
    height: 50px;
    width: 100%;
    float: left;
}
.pt1{
    float: left;
}
.txt1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: x-large;
    padding: 10px;
    float: left;
}
.select{
    float: right;
}
#sel1{
    color: white;
    background-color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
}
button{
    border-radius: 34px;
    color: white;
    background-color: skyblue;
    padding: 7px;
    width: 120px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-right: 5px;
}
select{
    background-color: black;
    border: 1px solid black;
    margin-top: 15px;
}
a{
    margin-top: 150px;
    margin-right: 5px;
    position: relative;
    top: 5px;
}
